<div class="music-tour-search">
	<div class="center">

		<form action="/search" class="search-form" id="search-form" autocomplete="off" method="get">

      <div class="search-bg"></div>
      <input type="submit" class="search-submit-large" value=""/>

      <div class="search-input-wrapper">

        <div class="search-ghost" id="search-ghost" style="display: none;">Find your artist's tour timeline</div>
        <input type="text" id="search-input" class="search-input" name="search" autocomplete="off" value="Find your artist's tour timeline" rel="Find your artist's tour timeline" tabindex="1">

      </div>
      <div class="clear"></div>
    </form>

	</div>
</div>

<div class="music-tour-map-container">
	<div class="center">
		<div class="music-tour-map">
			<div class="music-tour-timeline" style="height: 50px">
				<div class="music-tour-timeline-line"></div>
				<a class="music-tour-timeline-arrow music-tour-backward" style="position: absolute">&laquo;back</a>
				<a class="music-tour-timeline-arrow music-tour-forward" style="float: right">forward&raquo;</a>
			</div>
		</div>
	</div>
</div>

<div class="music-tour-seo">
  <div class="center">
		<h3>Key Stats</h3>
		<p>Opener(s):&nbsp;
			<span class="music-tour-openers">Placeholder, Placeholder</span><br/>
			Days since <span class="music-tour-performer-name">Mickey Mouse</span> was in <span class="music-tour-state-name">ZZ</span>:&nbsp;
			<span class="music-tour-days-since-state">yyy</span><br/>
			Days since <span class="music-tour-performer-name">Mickey Mouse</span> was last at <span class="music-tour-venue-name">Some Arena</span>:&nbsp;
			<span class="music-tour-days-since-venue">xxx</span>
		</p>
	</div>
</div>
