<div class="music-tour-search">
	<div class="center">

		<form action="#" class="search-form" id="search-form" autocomplete="off" method="get">

      <div class="search-bg"></div>
      <input type="submit" class="search-submit-large" value=""/>

      <div class="search-input-wrapper">

        <div class="search-ghost" id="search-ghost" style="display: none;">Start typing an artist or band name…</div>
        <input type="text" id="search-input" class="search-input" name="search" autocomplete="off" value="Start typing an artist or band name…" rel="Start typing an artist or band name…" tabindex="1">

      </div>
      <div class="clear"></div>
    </form>

	</div>
</div>

<div class="music-tour-map-container">
	<div class="center">
			<img class="blue-arrow" src="blue-arrow.png" height="50px"/>
			<h2>Follow any artist's tour now!</h2>
	</div>
</div>

<script type="text/template" class="template-seo">
<div class="music-tour-seo">
  <div class="center">
	<h3>Key Stats</h3>
	<p>Opener(s):&nbsp;
		<span class="music-tour-openers">{{ opener }}</span><br/>
		Days since <span class="music-tour-performer-name">{{ info.performer_short_name }}</span> was in <span class="music-tour-state-name">{{ info.venue_state }}</span>:&nbsp;
		<span class="music-tour-days-since-state">{{ info.days_since_state }}</span><br/>
		Days since <span class="music-tour-performer-name">{{ info.performer_short_name }}</span> was last at <span class="music-tour-venue-name">{{ info.venue_name }}</span>:&nbsp;
		<span class="music-tour-days-since-venue">{{ info.days_since_venue }}</span>
	</p>
  </div>
</div>
</script>

<script type="text/template" class="template-timeline">
	<div class="music-tour-map">
		<div class="music-tour-timeline" style="height: 50px">
			<div class="music-tour-timeline-line"></div>
			<a class="music-tour-timeline-arrow music-tour-backward">&laquo;back</a>
			<a class="music-tour-timeline-arrow music-tour-forward">forward&raquo;</a>
		</div>
	</div>
</script>

<script type="text/template" class="template-event">
  <div class="music-tour-event music-tour-event-{{ event.id }}">
    <span class="music-tour-event-image-container" spotify="{{ spotify ? spotify.id : "" }}">
      <small><span></span></small>
      <img src="{{ event.performers[0].images['huge'] }}" alt="{{ event.title }}" class="music-tour-event-image">
      <a a href="{{ event.url }}" class="music-tour-event-info">
        <h3 title="{{ event.title }}" class="music-tour-event-title">
          {{ event.title }}
          <p>
            <span class="music-tour-event-datetime">
              <span class="daystring">January 6</span> at <span class="timestring">TBD</span>
            </span>
            <span class="music-tour-event-location">
              <span title="Rose Bowl">{{ event.venue.name }}</span>, {{ event.venue.city }}, {{ event.venue.state }}
            </span>
          </p>
        </h3>
      </a>
    </span>
  </div>
</script>
