<!DOCTYPE html>
<html>
	<head
		<meta charset="utf-8" />
		<link rel="stylesheet" href="app.css" />
		<script src="underscore.js"></script>
		<script src="jquery-1.9.1.js"></script>
		<script src="queue.js"></script>
		<script src="http://d3js.org/topojson.v0.min.js"></script>
		<script src="albers-usa.js"></script>
		<script src="d3.v3.js"></script>
		<script src="d3.jsonp.js"></script>
	</head>
	<body>

		<div class="tour-map">
			<div id="timeline" style="height: 50px">
				<div id="timeline-line"></div>
				<span class="timeline-arrow" style="position: absolute">&laquo;back</span>
				<span class="timeline-arrow" style="float: right">forward&raquo;</span>
				<div id="timeline-points"></div>
			</div>
		</div>
		<div id="seo">
			<h3>Key Stats</h3>
			<p>Opener(s):&nbsp;
				<span class="openers">Placeholder, Placeholder</span><br/>
				Days since <span class="performer-name">Mickey Mouse</span> was in <span class="state-name">ZZ</span>:&nbsp;
				<span class="days-since-state">yyy</span><br/>
				Days since <span class="performer-name">Mickey Mouse</span> was last at <span class="venue-name">Some Arena</span>:&nbsp;
				<span class="days-since-venue">xxx</span>
			</p>
		</div>
		<script src="app.js"></script>
	</body>
</html>