<html>
	<head>
		<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
		<script type="text/javascript">
			var url = "http://api.seatgeek.com/2/events?performers.slug=jason-aldean&per_page=5";
			$.get(url, function(data) {

			});

		</script>
	</head>
	<body>
		<div class="container">
			
		</div>
	</body>
</html>