.tooltip-inner {
  box-shadow: 5px 6px 21px #888;
  max-width: 300px;
}


.popover {
  max-width: 376px;
}

path {
  fill: #BEDBF1;
  stroke: #fff;
  stroke-linejoin: round;
}

.music-tour-points {
  cursor: pointer;
  fill: #fff;
  stroke: #80C5FF;
  stroke-width: 1px;
}

.music-tour-points.active {
  fill: #fff;
  stroke-width: 5px;
}

.music-tour-glow {
  fill: #000;
  fill-opacity: .1;
  filter: url(#glow);
}

.music-tour-label {
  cursor: pointer;
  fill: #82ACEF;
  font-size: 18px;
}

.music-tour-info-map {
  border-radius: 5px;
  float:left;
}
.music-tour-info {
  color: #4485E9;
  float:right;
  font-size: 14px;
  padding-left: 10px;
  text-align: left;
  width: 140px;
  word-wrap:break-word;
}

.music-tour-timeline {
  width: 100%;
  height: 50px;
  z-index: 2;
}

.music-tour-timeline-line {
  background-color: #BEDBF1;
  border-radius: 2px;
  color: #fff;
  height: 4px;
  margin: 15px 0 17px 0;
  position: absolute;
  width: 790px;
  z-index: 1;
}

.music-tour-forward {
  float: right;
  z-index: 2;
  position: relative;
}
.music-tour-backward {
  position: absolute;
  z-index: 2;
}

.music-tour-timeline-points {
  background-color: #fff;
  border: 1px solid #80C5FF;
  border-radius: 18px;
  color: #388ee8;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  line-height: 30px;
  height: 30px;
  position: absolute;
  text-align: center;
  width: 30px;
}

.music-tour-timeline-points.active {
  -webkit-box-shadow: 0px 0px 0px 4px rgba(128, 197, 255, 1);
  -moz-box-shadow: 0px 0px 0px 4px rgba(128, 197, 255, 1);
  box-shadow: 0px 0px 0px 4px rgba(128, 197, 255, 1);
}

.music-tour-map {
  background-color: #fff;
  margin: auto;
  padding: 20px 15px 0 15px;
  width: 100%;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  border-radius: 3px;
}

.music-tour-openers,
.music-tour-days-since-venue,
.music-tour-days-since-state {
  font-weight: bold;
}

.music-tour-timeline-arrow {
   background-color: #fff;
   color: #82ACEF;
   cursor: pointer;
   line-height: 30px;
   font-size: 30px;
}

.music-tour-timeline-arrow:hover {
  color: #388ee8;
}

.music-tour-events .center {
  padding: 20px 0;
}

.music-tour-event {
  padding: 10px;
  height: 110px;
  display: block;
  text-decoration: none;
}
.music-tour-event:nth-child(2n) {
  background-color: #F6F9FB;
}
.music-tour-event-image {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 4px double #CCC;
  float: left;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}
.music-tour-event-image-container {
  width: 106px;
  height: 106px;
  position: relative;
}
.music-tour-event-image-container:hover small {
  width: 106px;
  height: 106px;
  display: block;
}
.music-tour-event-image-container small span {
  width: 106px;
  height: 106px;
  background-color: white;
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 10px;
  top: 50px;
  left: 50px;
}
.music-tour-event-image-container small {
  width: 106px;
  height: 106px;
  border-radius: 100px;
  position: absolute;
  left: 1px;
  top: 1px;
  display: none;
  z-index: 1;
  /* Fallback for web browsers that don't support RGBa */
  background-color: rgba(54, 88, 179);
  /* RGBa with 0.6 opacity */
  background-color: rgba(54, 88, 179, 0.6);
}

.music-tour-event-title {
  margin: 25px 0 0 140px;
  font-size: 22px;
}
.music-tour-event-info {
  color: #80C5FF;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}
.music-tour-event-info:hover h3 {
  color: #000000;
}

.music-tour-event-info p {
  color: #333;
  margin: 0 0 18px;
  font-size: 16px;
}

.sgautocomplete-row-first {
  display: none;
}
