path {
  fill: #BEDBF1;
  stroke: #fff;
  stroke-linejoin: round;
}

.points {
  fill: #fff;
  stroke: #80C5FF;
  stroke-width: 2px;
}

.points.active,
.points:hover {
  fill: #fff;
  stroke-width: 5px;
}

path:hover {
  fill: #246AA9;
}

.land-glow {
  fill: #000;
  fill-opacity: .1;
  filter: url(#glow);
}

.place-label {
  cursor: pointer;
  fill: #82ACEF;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
}

/* ben's css */
div#timeline-line {
  background-color: #BEDBF1;
  border-radius: 2px;
  color: #fff;
  height: 4px;
  margin: 15px 0 17px 0;
  position: absolute;
  width: 790px;
}

div.timeline-points {
  background-color: #fff;
  border: 2px solid #80C5FF;
  border-radius: 18px;
  color: #388ee8;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  height: 30px;
  position: absolute;
  text-align: center;
  width: 30px;
}

div.timeline-points .active {
  -webkit-box-shadow: 0px 0px 0px 4px rgba(128, 197, 255, 1);
  -moz-box-shadow: 0px 0px 0px 4px rgba(128, 197, 255, 1);
  box-shadow: 0px 0px 0px 4px rgba(128, 197, 255, 1);
}

.tour-map {
  margin: auto;
  width: 790px;
}
