path {
  fill: #BEDBF1;
  stroke: #fff;
  stroke-linejoin: round;
}

.points {
  cursor: pointer;
  fill: #fff;
  stroke: #80C5FF;
  stroke-width: 2px;
}

.points.active {
  fill: #fff;
  stroke-width: 5px;
}

/*path:hover {
  fill: #246AA9;
}
*/
.land-glow {
  fill: #000;
  fill-opacity: .1;
  filter: url(#glow);
}

.place-label {
  cursor: pointer;
  fill: #82ACEF;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
}

/* ben's css */
html, body {
  margin: 0;
}

html {
  padding: 0;
  width: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 15px;
  width: 790px;
}

#timeline {
  width: 100%;
}

#timeline-line {
  background-color: #BEDBF1;
  border-radius: 2px;
  color: #fff;
  height: 4px;
  margin: 15px 0 17px 0;
  position: absolute;
  width: 790px;
  z-index: -1;
}

.timeline-points {
  background-color: #fff;
  border: 2px solid #80C5FF;
  border-radius: 18px;
  color: #388ee8;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  line-height: 30px;
  height: 30px;
  position: absolute;
  text-align: center;
  width: 30px;
}

.timeline-points.active {
  -webkit-box-shadow: 0px 0px 0px 4px rgba(128, 197, 255, 1);
  -moz-box-shadow: 0px 0px 0px 4px rgba(128, 197, 255, 1);
  box-shadow: 0px 0px 0px 4px rgba(128, 197, 255, 1);
}

.tour-map {
  margin: auto;
  width: 100%;
}

.openers,
.days-since-venue,
.days-since-state {
  font-weight: bold;
}

.timeline-arrow {
   background-color: #fff;
   color: #82ACEF;
   cursor: pointer;
   line-height: 30px;
   font-size: 30px;
}

.timeline-arrow:hover {
  color: #388ee8;
}
