body {
  background: #FFF;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  margin: 0;
}

.center {
  width: 830px;
  margin: 0 auto;
}

.clear {
  clear: both;
}

a {
  color: #00a5f2;
  text-decoration: none;
}
a:hover { color: #005278; }


/* Sections */

/* 1. Header and copy */
.header {
  background: #303030;
  padding: 40px 20px;
  color: #FFF;
}
.header .center {
  position: relative;
  z-index: 2;
}
.header h1 {
  font-size: 60px;
  font-weight: 100;
  padding: 0;
  margin: 0 0 20px 220px;
}
.header h1 .logo {
  color: #000;
  display: inline-block;
  font-size: 12px;
  background: url(http://seatgeek.com/images/sg-play-widget/promo/logo.png) top left no-repeat;
  margin: 5px 0 -5px;
  padding: 7px 0 11px 110px;
  position: absolute;
  text-decoration: none;
  left:40px;
  top: 20px;
  -webkit-filter: invert(100%);
}
.header p {
  font-size: 15px;
  font-weight: 100;
  line-height: 23px;
}
.header .sg-rdio-widget {
  position: absolute;
  top: -10px;
  right: 0;
}

/* SEARCH */
.music-tour-search {
  height: 100px;
  margin-top: 20px;
}
.search-form {
  position: relative;
}

.search-bg {
  right: 115px;
  border-radius: 5px;
  background: white;
  position: absolute;
  top: 6px;
  left: 2px;
  height: 70px;
  border: 1px solid #9A9A9A;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  -webkit-transition: box-shadow .3s ease;
  -moz-transition: box-shadow .3s ease;
  transition: box-shadow .3s ease;
}

.search-bg.focused {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 0 7px 5px rgba(81, 150, 243, 0.9);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 0 7px 5px rgba(81, 150, 243, 0.9);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 0 7px 5px rgba(81, 150, 243, 0.9);
  -webkit-transition: box-shadow .3s ease;
  -moz-transition: box-shadow .3s ease;
  transition: box-shadow .3s ease;
}
.search-submit-large {
  background: url(http://seatgeek.com/images/new/home/search.png) top no-repeat;
  width: 103px;
  height: 75px;
  position: absolute;
  top: 5px;
  right: 0;
  border: 0;
  cursor: pointer;
}
.search-input-wrapper {
  top: 16px;
  left: 25px;
  right: 135px;
  position: absolute;
}
form .search-ghost {
  font: normal 30px proxima-nova-1, proxima-nova-2, helvetica, arial, sans-serif;
  padding-top: 11px !important;
}
.search-form .search-ghost {
  color: #CCC;
  padding: 7px 0 7px 10px;
  cursor: text;
  white-space: nowrap;
  overflow-x: hidden;
}
.search-form .search-ghost {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  background-color: transparent;
  outline: none;
  width: 100%;
}

.search-form input[type="text"] {
  font: normal 30px proxima-nova-1, proxima-nova-2, helvetica, arial, sans-serif;
  padding-top: 9px !important;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  background-color: transparent;
  outline: none;
  width: 100%;
  padding: 7px 10px;
}

/* 2. Mapping Interface */
.music-tour-map-container {
  padding: 15px 20px;
}
.music-tour-map-container h2 {
  font-size: 40px;
  font-weight: 100;
  margin-left: 180px;
}

/* 3. Music Key SEO */
.music-tour-seo {
  background: #f2f2f2;
  padding: 30px 20px 60px;
}
.music-tour-seo strong { color: #555; }
.music-tour-seo h3 {
  color: #3F3F41;
  font-weight: 600;
  font-size: 18px;
}
.music-tour-seo p {
  color: #333333;
  font-size: 14px;
}
.music-tour-openers a {
  color: #3F3F41;
}
.music-tour-openers a:hover {
  text-decoration: underline;
}

/* 4. Features */
.the-blue {
  background: #0078b0;
  padding: 40px 20px;
  color: #FFF;
  font-weight: 100;
}

/* 5. Footer */
.footer {
  background: #000;
  padding: 40px 20px;
  color: #FFF;
  font-size: 15px;
}
